.theme-default-content code {
    color: #ff502c;
    background-color: #fff5f5;
}
.theme-default-content{
    @media (max-width: 419px){
        div[class*="language-"] {
            // margin: 0.85rem -0.8rem 0.85rem -1.5rem !important;
            border-radius: 0;
        }
    }
}